@charset 'UTF-8';

/**
 * Stephen Wolfram’s Cellular Automaton
 */

#board {
    border: none
}

#board span.b {
    background-color: #000000;
    border: 1px solid #333333 !important
}

#board span  {
    width: 10px;
    height: 10px;
    border: 1px solid silver !important
}