@charset 'UTF-8';

/**
 * Basic display
 */

#display {
    margin: auto;
    display: table;
    background-color: #FAFAFA;
    border-collapse: collapse;
}

#display + div.info {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 12px;
    color: gray;
}

#display + div.info div {
    font-size: 12px;
    line-height: 18px;
    padding-top: 6px;
    margin-top: 0;
}

#display div {
    display: table-row;
    color: transparent
}

#display span {
    display: table-cell;
    width: 3px;
    height: 3px;
    color: transparent;
    font-size: 0
}

#display span._0 {background-color: transparent;}
#display span._1 {background-color: #FFFFFF;}
#display span._2 {background-color: #909090;}
#display span._3 {background-color: #404040;}

#display span._1000 {
    background-color: red;
    opacity: 1;
}

#display.ca {
    background-color: #FFFFFF !important;
}

#display.ca span.b {
    background-color: #000000;
    border: 1px solid #333333 !important
}

#display.ca span  {
    width: 10px;
    height: 10px;
    border: 1px solid silver !important
}

#display.wide span {
    width: 2px !important;
    height: 2px !important;
    border: none !important
}

