@charset 'UTF-8';

/**
 * Basic board
 */

#board {
    margin: auto;
    display: table;
    background-color: #000000;
    border-collapse: collapse;
}

#board + div.info {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 12px;
    color: gray;
}

#board + div.info div {
    font-size: 12px;
    line-height: 18px;
    padding-top: 6px;
    margin-top: 0;
}

#board div {
	display: table-row
}

#board span {
	display: table-cell;
	width: 3px;
	height: 3px;
    color: transparent;
	font-size: 0
}

#board span.a {
    background-color: transparent;
}

#board span.b {
    background-color: #FFFFFF
}

#board span.c {
    background-color: #909090;
}

#board span.d {
    background-color: #404040;
}

#board.ca {
    background-color: #FFFFFF !important;
}

#board.ca span.b {
    background-color: #000000;
    border: 1px solid #333333 !important
}

#board.ca span  {
    width: 10px;
    height: 10px;
    border: 1px solid silver !important
}

#board.wide span {
    width: 2px !important;
    height: 2px !important;
    border: none !important
}

