@charset 'UTF-8';

/**
 * Brian Silverman’s Wireworld
 */

#board {
    border: none !important;
}

#board span  {
    width: 6px;
    height: 6px;
    background-color: #000000;
    border: none !important;
}

#board span.empty {
    background-color: transparent;
}

#board span.electron-head {
    background-color: #FFFFFF;
}

#board span.electron-tail {
    background-color: #909090;
}

#board span.conductor {
    background-color: #404040;
}
