<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}
        {% include 'stylesheets.css.twig' %}
    {% endblock %}
    <title>{% block title %}Math Games{% endblock %}</title>
</head>
<body>

<div id="wrap">

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <i class="icon-list-alt"></i>
                    Math Games
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" title="Applications" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog icon-large"></i>
                            Applications
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-header">Stephen Wolfram’s Elementary Cellular Automaton</li>
                            <li><a target="_blank" href="cellular-automaton.html">Basic</a></li>
                            <li><a target="_blank" href="cellular-automaton-wide.html">Wide</a></li>

                            <li class="divider"></li>
                            <li class="dropdown-header">Chris Langton’s Ant</li>
                            <li><a target="_blank" href="langtons-ant.html">Empty board</a></li>
                            <li><a target="_blank" href="langtons-ant.html?castle">Castle</a></li>

                            <li class="divider"></li>
                            <li><a target="_blank" href="game-of-life.html">John Conway’s Game of Life (B3/S23)</a></li>

                            <li class="divider"></li>
                            <li class="dropdown-header">Mazes</li>
                            <li><a target="_blank" href="maze.html">Maze (B3/S1234)</a></li>
                            <li><a target="_blank" href="maze.html?1">Maze Full of Mice (B37/S1234)</a></li>
                            <li><a target="_blank" href="maze.html?2">Mazectric (B3/S12345)</a></li>

                            <li class="divider"></li>
                            <li class="dropdown-header">Brian Silverman’s Wireworld</li>
                            <li><a target="_blank" href="wireworld.html?0">Conductor horizontal</a></li>
                            <li><a target="_blank" href="wireworld.html?1">Conductor broken line</a></li>
                            <li><a target="_blank" href="wireworld.html?2">Clocks</a></li>
                            <li><a target="_blank" href="wireworld.html?3,7">7 segment display</a></li>
                            <li><a target="_blank" href="wireworld.html?4,4">7 segment display with decoder</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="references.html" title="References">
                            <i class="icon-book icon-large"></i>
                            References
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="title">
                        <a href="javascript:void(null)" style="font-weight:bold"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    {% include 'javascripts.js.twig' %}
{% endblock %}

</body>
</html>