<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}
        {% include 'stylesheets.css.twig' %}
    {% endblock %}
    <title>{% block title %}Math Games{% endblock %}</title>
</head>
<body>

<div id="wrap">

    {% include 'menu.html.twig' %}

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

</div>

{% block javascripts %}
    {% include 'javascripts.js.twig' %}
{% endblock %}

</body>
</html>