{% extends 'base.html.twig' %}

{% block body %}
    <h1></h1>
    <div id="board"></div>
    <div class="info"></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/board.js"></script>
{% endblock %}