{% extends 'base.html.twig' %}

{% block body %}
    <div id="board"></div>
    <div class="info"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="js/display.js"></script>
{% endblock %}