{% extends 'base.html.twig' %}

{% block body %}
    <canvas id="display" style="margin-top: -10px"></canvas>
    <div class="info"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="js/display.js"></script>
{% endblock %}