{% extends 'board.html.twig' %}

{% block body %}
    <div id="board" class="wide"></div>
    <div class="info"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/cellular-automaton.js"></script>
    <script>
        var speed = 150;
        var app = null;
        var board = null;

        var rule = location.href.replace(/^.*?(\d+).*?$/, '$1');
        rule = isNaN(rule) ? 110 : parseInt(rule);
        var density = location.href.replace(/.*?,(0\.\d+).*?$/, '$1');
        density = isNaN(density) ? 0.5 : parseFloat(density);

        $(document).ready(function () {
            board = new Board(255, 511);

            app = new CellularAutomaton(board, rule);
            app.density = density;

            app.getInfo = function () {
                return 'rule ' + this.rule + ' (gen. ' + this.r + ') density: ' + this.density;
            };

            app.init();

            run(app, speed);
        });
    </script>
{% endblock %}