{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 style="color:#999999">
                <i class="icon-list-alt"></i>
                Math Games
            </h1>

            <hr style="border-bottom: 1px dashed #999999;"/>

            <p>
                This page is for the anyone who is interested in visual effect of mathematical computations.<br>
                Generally we present results of <em>cellular automata</em> work.
            </p>

            <p>If you want to find out more please visit our <em>References</em> page.</p>

            <br/>

            <a href="/references.html" class="btn btn-primary btn-lg" role="button">
                <i class="icon-book icon-large"></i>
                References &raquo;
            </a>
        </div>
    </div>

{% endblock %}