{% extends 'board.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="css/wireworld.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/wireworld.js"></script>
    <script src="js/wireworld-patterns.js"></script>
    <script>
        var speed = 200;
        var app = null;
        var board = null;

        var height = 34 * 2;
        var width = 64 * 2;

        var patterns = [
            'conductor horizontal',
            'conductor broken line',
            'clocks',
            '7 segment display',
            '7 segment display with decoder'
        ];

        var pattern = location.href.replace(/^.*?(\d+).*?$/, '$1');
        pattern = isNaN(pattern) ? 0 : parseInt(pattern);
        var digit = 0;

        if (pattern === 3) {
            var temp = location.href.replace(/^.*?\?(.*)$/, '$1').split(',');
            if (temp.length > 1) {
                digit = isNaN(temp[1]) ? 0 : parseInt(temp[1]);
            }

            width = wireworldDigitBoard[0].length;
            height = wireworldDigitBoard.length;
            wireworldDigitBoard[263][33 + digit * 6] = 1;
            wireworldDigitBoard[264][33 + digit * 6] = 3;
            wireworldDigitBoard[264][33 + digit * 6 + 1] = 2;
        }

        if (pattern === 4) {
            temp = location.href.replace(/^.*?\?(.*)$/, '$1').split(',');
            if (temp.length > 1) {
                digit = isNaN(temp[1]) ? 0 : parseInt(temp[1]);
            }

            width = wireworldDigitAltBoard[0].length;
            height = wireworldDigitAltBoard.length;

            // first clock:
            wireworldDigitAltBoard[179][44] = 2;
            wireworldDigitAltBoard[178][44] = 1;

            // second clock:
            wireworldDigitAltBoard[185][44] = 2;
            wireworldDigitAltBoard[186][44] = 1;

            var start = 66;

            for (var i = 0; i < 10; i++) {
                var offset = start + i * 6;

                var cond = i < digit;

                if (cond) {
                    wireworldDigitAltBoard[202][offset - 1] = 1;
                    wireworldDigitAltBoard[202][offset] = 2;
                } else {
                    wireworldDigitAltBoard[204][offset] = 1;
                    wireworldDigitAltBoard[204][offset + 1] = 2;
                }
            }
        }

        $(document).ready(function () {

            board = new Board(height, width);

            app = new Wireworld(board, pattern);

            if(pattern === 3 || pattern === 4) {
                app.board.setName = function (name) {
                    name += ' (' + patterns[pattern] + ') [' + digit + ']';

                    var url = location.href.replace(/\?.*$/, '');

                    var html = '<i class="icon-cog icon-large"></i> ';
                    html += name;
                    html += ' <i class="icon-caret-down"></i>';

                    var submenu = '<ul class="dropdown-menu">';
                    for(var i = 0; i < 10; i++) {
                        submenu += '<li>';
                        submenu += '<a href="' + url + '?' + pattern + ',' + i + '">';
                        submenu += '<i class="';
                        submenu += 'icon-ok';
                        submenu += '"';
                        submenu += i !== digit ? ' style="color:transparent!important"': '';
                        submenu += '></i> ';
                        submenu += i;
                        submenu += '</a>';
                        submenu += '</li>';
                    }
                    submenu += '</ul>';

                    $('head title').text(name);
                    var li = $('li.title');
                    li.addClass('dropdown')
                            .find('a')
                            .addClass('dropdown-toggle')
                            .attr('data-toggle', 'dropdown')
                            .attr('title', name)
                            .html(html)
                    li.append(submenu);
                };
            }

            app.reset();
            app.init();

            run(app, speed);
        });
    </script>
{% endblock %}
